<footer>
 <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="text-left">
          <li>Contact us :</li>
          {% if site.data.settings.email %}
	  <li>email : <a href="mailto:{{ site.data.settings.email }}" >{{ site.data.settings.email }}</a></li>
	  {% endif %}
	  {% if site.data.settings.location %}
	  <li>location : {{ site.data.settings.location }}</li>
	  {% endif %}
	  {% if site.data.settings.address %}
	  <li>address : {{ site.data.settings.address }}</li>
	  {% endif %}
	  {% if site.data.settings.phone %}
	  <li>phone : {{ site.data.settings.phone }}</li>
	  {% endif %}
       </ul>
      </div>
      <div class="col-md-4">
        <ul class="text-right">
        {% if site.data.settings.designBy %}
	  <li>{{ site.data.settings.designBy }}</li>
	{% endif %}
	<!-- http://www.benjaminjyring.com/portfolio/index.html -->
	{% if site.data.settings.designMeta.specialThanks %}
          <li>{{ site.data.settings.designMeta.specialThanks }}</li>
        {% endif %}
        {% if site.data.settings.copyright %}
	  <li>{{ site.data.settings.copyright }}</li>
	{% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
