<footer>
 <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="text-left">
          <li>Contact us :</li>
	  <li>email : <a href= "mailto:msum_acm@gmail.com" >msum_acm@gmail.com</a></li>
	  <li>location : Bridges 163</li>
	  <li>address : 1104 7th Ave South, Moorhead, MN 56563 USA</li>
	  <li>phone : 218-xxx-xxxx</li>
       </ul>
      </div>
      <div class="col-md-4">
        <ul class="text-right">
	  <li>Designed and developed by <a href='' target='_blank'>Jake Humphrey</a> and <a href='' target='_blank'>Anthony Ferre</a>.</li>
          <li>Special thank you to <a href='http://www.benjaminjyring.com/portfolio/index.html' target='_blank'>Ben Jyring</a> for designing the MSUM ACM logo.</li>
	  <li>&copy; 2015 MSUM ACM organization, all rights reserved.Hosted by <a href='http://github.com/schacon/schacon.github.com/' target='_blank'>GitHub</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
